{% extends 'dashboard/base.html' %}
{% load widget_tweaks %}

{% block title%}
    <title>Cambiar Password</title>
{% endblock %}

{% block styles %}
<style>
  h1{
      font-family: 'Work Sans', sans-serif;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
  }
  </style>
{% endblock %}


{% block cuerpo%}
<!-- {% for message in messages %}
  <div class="alert alert-{{message.tags}}" role="alert">
    {{message}}
  </div>
{% endfor %}
{% if form.errors %}
  <ul>
  {% for error in form.errors %}
    <li>{{ error }}</li>
  {% endfor %}
  </ul>
{% endif %}
<form method="POST" action="{% url 'dashboard:cambiar_password'%}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save changes</button>
</form> -->

<!-- {{form.errors}} -->

<div class="container">
  <form method="POST" action="{% url 'dashboard:cambiar_password'%}">
      {% csrf_token %}
      <br>
      <h1>Cambio de contrase&ntilde;a</h1>
      <br>
      {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
          {{message}}
        </div>
      {% endfor %}
      {% if form.errors %}
        {{form.error_messages}}
      {% endif %}
      <div class="form-group row">
          <label for="contrasena-antigua" class="col-form-label control-label col-md-4 col-lg-2 offset-md-2 offset-md-3">Contraseña antigua:</label>
          <div class="col-md-4">
              {{form.old_password | add_class:"form-control old-password" }}
          </div>
      </div>
      <div class="form-group row">
          <label for="contrasena-nueva-1" class="col-form-label control-label col-md-4 col-lg-2 offset-md-2 offset-md-3">Contraseña nueva:</label>
          <div class="col-md-4">
            {{form.new_password1 | add_class:"form-control new-password1" }}
          </div>
      </div>
      <div class="form-group row">
          <label for="contrasena-nueva-2" class="col-form-label control-label col-md-4 col-lg-2 offset-md-2 offset-md-3">Confirmar contraseña nueva:</label>
          <div class="col-md-4">
            {{form.new_password2 | add_class:"form-control new-password2" }}
          </div>
      </div>
      <br>
      <div class="form-group row"> <div class="col-md-4 offset-md-4 col-lg-2 offset-lg-5">
              <input type="submit" class="btn btn-success btn-block" value="Guardar cambios">
          </div>
      </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function() { 
      $(".old-password").attr("placeholder", "Ingrese contraseña antigua");      
      $(".new-password1").attr("placeholder", "Ingrese contraseña nueva");
      $(".new-password2").attr("placeholder", "Confirmar contraseña nueva");
    });
  </script>
{% endblock %}